/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* base */
@import url('./base/reset.css');
@import url('./base/common.css');

/* layout */
@import url('./layout/header.css');
@import url('./layout/leap-year.css');
@import url('./layout/guess-number.css');
@import url('./layout/rock-paper-scissors.css');
@import url('./layout/calculator.css');
@import url('./layout/time-calculator.css');
@import url('./layout/google-dinosaur.css');
@import url('./layout/football.css');
@import url('./layout/three-numbers.css');
@import url('./layout/our-team.css');
@import url('./layout/choose-scientist.css');
@import url('./layout/footer.css');
@import url('./layout/welcome-modal.css');
@import url('./layout/thanks-modal.css');

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --primary-btn-color: rgba(255, 255, 255, 0.667);
  --secondary-btn-color: rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;

  color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dark-theme {
  --primary-color: #000;
  --secondary-color: #fff;
  --secondary-btn-color: rgba(255, 255, 255, 0.667);
  --primary-btn-color: rgba(0, 0, 0, 0.25);
}
