<section class="calculator" data-category="numerical">
    <div class="line"></div>
        <h2 class="calculator__title">Калькулятор</h2>
        <form class="calculator__form" id="calculator-form">
            <input class="calculator__form__input" id="calculator-form-one-input" type="text" placeholder="Введіть число">
            <ul class="calculator__form__list">
                <li class="calculator__form__item">
                    <label class="calculator__form__item__label">
                        <input class="calculator__form__item__input" type="radio" name="radio" value="addition" id="calculator-form-addition"/>
                        <p class="calculator__form__item__text" id="calculator-form-addition-text">+</p>
                    </label>
                </li>
                <li class="calculator__form__item">
                    <label class="calculator__form__item__label">
                        <input class="calculator__form__item__input" type="radio" name="radio" value="multiplication" id="calculator-form-multiplication"/>
                        <p class="calculator__form__item__text" id="calculator-form-multiplication-text">*</p>
                    </label>
                </li>
                <li class="calculator__form__item">
                    <label class="calculator__form__item__label">
                        <input class="calculator__form__item__input" type="radio" name="radio" value="subtraction" id="calculator-form-subtraction"/>
                        <p class="calculator__form__item__text" id="calculator-form-subtraction-text">-</p>
                    </label>
                </li>
                <li class="calculator__form__item">
                    <label class="calculator__form__item__label">
                        <input class="calculator__form__item__input" type="radio" name="radio" value="division" id="calculator-form-division"/>
                        <p class="calculator__form__item__text" id="calculator-form-division-text">/</p>
                    </label>
                </li>
            </ul>
            <input class="calculator__form__input" id="calculator-form-two-input" type="text" placeholder="Введіть число">
            <button class="calculator__form__btn">=</button>
            <input class="calculator__form__input" type="text" placeholder="Результат" id="calculator-form-result">
        </form>
</section>