<section class="scientists" data-category="acquaintance">
    <div class="line"></div>
    <h2 class="scientists__title">Обери вченого/их</h2>

    <ul class="scientists__container">

        <li class="scientist" id="1">
            <img src="/img/scientists/einstein.jpg" class="scientists__card" >
            <p class="scientists__text">Albert Einstein</p>
        </li>

        <li class="scientist" id="2">
            <img src="/img/scientists/isaac.jpg" class="scientists__card" >
            <p class="scientists__text">Isaac Newton</p>
        </li>

        <li class="scientist" id="3">
            <img src="/img/scientists/gallieo.jpg" class="scientists__card">
            <p class="scientists__text">Galileo Galilei</p>
        </li>

        <li class="scientist" id="4">
            <img src="/img/scientists/marie.jpg" class="scientists__card" >
            <p class="scientists__text">Marie Curie</p>
        </li>

        <li class="scientist" id="5">
            <img src="/img/scientists/johhanes.jpg" class="scientists__card">
            <p class="scientists__text">Johhanes Kepler</p>
        </li>

        <li class="scientist" id="6">
            <img src="/img/scientists/nicolaus.jpg" class="scientists__card" >
            <p class="scientists__text">Nicolaus Copernius</p>
        </li>

        <li class="scientist" id="7">
            <img src="/img/scientists/planck.jpg" class="scientists__card" >
            <p class="scientists__text">Max Planck</p>
        </li>

        <li class="scientist" id="8">
            <img src="/img/scientists/katherine.jpg" class="scientists__card" >
            <p class="scientists__text">Katherine Blodgett</p>
        </li>

        <li class="scientist" id="9">
            <img src="/img/scientists/lovelace.jpg" class="scientists__card" >
            <p class="scientists__text">Ada Lovelace</p>
        </li>

        <li class="scientist" id="10">
            <img src="/img/scientists/goode.jpg" class="scientists__card" >
            <p class="scientists__text">Sarah E. Goode</p>
        </li>

        <li class="scientist" id="11">
            <img src="/img/scientists/lise.jpg" class="scientists__card" >
            <p class="scientists__text">Lise Meitner</p>
        </li>

        <li class="scientist" id="12">
            <img src="/img/scientists/hanna.jpg" class="scientists__card" >
            <p class="scientists__text">Hanna Hammarström</p>
        </li>

    </ul>


    <div class="scientists__buttons">
        <button class="scientists__button" id="born-19-century">
            Які вчені народилися в 19 ст.</button>
        <button class="scientists__button" id="einstein-birth-year">
            Знайти рік народження Albert Einstein</button>
        <button class="scientists__button" id="sort-alphabet">
            Відсортувати вчених за алфавітом</button>
        <button class="scientists__button" id="starts-c">
            Знайти вчених, прізвища яких починаються на літеру “C”</button>
        <button class="scientists__button" id="remove-starts-a">
            Видалити всіх вчених, ім’я яких починається на “А”</button>
        <button class="scientists__button" id="sort-by-lifespan">
            Відсортувати вчених за кількістю прожитих років</button>
        <button class="scientists__button" id="youngest-scientist">
            Знайти вченого, який народився найпізніше</button>
        <button class="scientists__button" id="longest-shortest-life">
            Знайти вченого, який прожив найдовше і вченого, який прожив найменше
        </button>
        <button class="scientists__button" id="same-letters">
            Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
    </div>
    </div>
</section>