<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__logo__links">
      <a href="" class="footer__link__logo"
        ><svg class="footer__icon__logo">
          <use href="/img/svg/header/symbol-defs.svg#icon-icon-logo"></use>
        </svg>
      </a>

      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="+38 (123) 456 78 90"
            >Тел: +38 (123) 456 78 90</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link" href="codingmagic@gmail.com"
            >E-Mail: codingmagic@gmail.com</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://www.facebook.com"
            >Facebook: CodingMagic</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://x.com/">Twitter: CodingMagic</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="https://instagram.com"
            >Instagram: CodingMagic</a
          >
        </li>
      </ul>

      <div class="footer__form__div">
        <form action="" class="footer__form">
          <label class="footer__label"
            ><input
              type="email"
              class="footer__input"
              placeholder="Ваша ел. адреса..."
              id="subscribe-input"
          /></label>
          <button class="footer__button" id="footer-btn">Підписатись</button>
        </form>
        <p class="footer__text">
          *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
        </p>
      </div>
    </div>
  </div>
</footer>
