<section class="google-dinosaur" data-category="game">
    <div class="line"></div>
        <h2 class="google-dinosaur__title">Google динозавр</h2>
        <div class="dinosaur__container">
            <div class="dinosaur__overlay">
                <p class="google-dinosaur__score" id="score">0</p>
                <div class="game-over__thumb" id="loose">
                    <p>Game Over!</p>
                    <p class="dinosaur__points">Points:<span id="points"></span></p>
                </div>
                <img class="dinosaur__player" src="/img/dino/dino-stationary.png" alt="dinosaur" id="dinosaur">
                <img class="dinosaur__ground" src="/img/dino/ground.png" alt="ground" data-ground>
                <img class="dinosaur__ground" src="/img/dino/ground.png" alt="ground" data-ground>
            </div>
        </div>
        <button class="google-dinosaur__btn" id="dinosaur__start-btn">Start!</button>
</section>