<section class="guess__number" data-category="numerical">
  <div class="line"></div>
      <h2 class="guess__title">Вгадай число, яке загадав комп’ютер</h2>
      <div class="guess__form__container">
        <form class="guess__form" id="form-guess" >
          <input type="text" id="guessInput" class="guess__input" placeholder="Введіть число">
          <button type="submit" class="guess__btn">
            <img src="/img/svg/header/deandruff.svg" alt="" class="guess__img">
          </button>
        </form>
        <p class="guess__result"></p>
      </div>
  </section>