<header class="header">
  <div class="container">
    <a class="header__link-logo" href="#">
      <svg class="header__link-logo__icon">
        <use href="/img/svg/header/symbol-defs.svg#icon-icon-logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__item">
          <a class="header__nav__item__link" id="nav-link" href="#">
            Інтерактив
            <svg class="header__nav__item__link__icon">
              <use href="/img/svg/header/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </a>
          <ul class="header__nav__item__submenu" id="header-submenu-filter-list">
            <li id="numerical" class="header__nav__item__submenu__item">Числовий</li>
            <li id="game" class="header__nav__item__submenu__item">Ігровий</li>
            <li id="acquaintance" class="header__nav__item__submenu__item">Ознайомчий</li>
          </ul>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__item__link" href="#our-team">Наша команда</a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__item__link" href="#footer">Контакти</a>
        </li>
      </ul>
    </nav>

    <img class="header__switch-icon" id="icon" src="/img/svg/header/white.svg" alt="#">
    <p class="header__text">Вітаємо, <span class="header__text__user-name" id="headerUsername">User</span>!</p>
  </div>
</header>