<section class="leap__year" data-category="numerical">
    <div class="line"></div>
        <h2 class="year__title">Перевір в який рік ти народився</h2>
        <div class="leap__year__form__container">
            <form class="leapyear__form" id="form-leap">
                <input name="year" class="leap__year__input" type="text" pattern="^[ 0-9]+$" id="yearInput" placeholder="Введіть рік народження">
                <button class="leap__year__btn" type="submit">
                    <img class="leap__year__img" src="/img/svg/header/deandruff.svg" alt="">
                </button>
            </form>
            <p class="leap__year__result"></p>
        </div>

</section>