<section class="team" data-category="acquaintance" id="our-team">
  <div class="line"></div>
    <h2 class="team__title">Наша команда</h2>
    <div class="swiper">
      <ul class="slider__list swiper-wrapper">
        <li class="slider__item__slide1 swiper-slide">
          <img class="team__img" src="/img/team/dimasik.png" alt="#" />
          <h3 class="team__name">Діма Головатюк</h3>
          <p class="team__info">Тім Лід</p>
        </li>
        <li class="slider__item__slide2 swiper-slide">
          <img class="team__img" src="img/team/antonchik.jpg" alt="#" />
          <h3 class="team__name">Антон Кашшай</h3>
          <p class="team__info">Скрам Майстер</p>
        </li>
        <li class="slider__item__slide3 swiper-slide">
          <img class="team__img" src="/img/team/maksik.jpg" alt="#" />
          <h3 class="team__name">Макс Маляр</h3>
          <p class="team__info">Розробник</p>
        </li>
        <li class="slider__item__slide4 swiper-slide">
          <img class="team__img" src="/img/team/sonic.png" alt="#" />
          <h3 class="team__name">Андрій Мацафей</h3>
          <p class="team__info">Розробник</p>
        </li>
      
      </ul>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
</section>

