<section class="rps-sesection" id="rock-paper-scissors" data-category="game">
    <div class="line"></div>
        <div class="rps-sesection__div-game">
            <h3 class="rps-sesection__title">Камінь - ножиці - папір</h3>
            <form class="rps-sesection__form" id="rps-form">
                <div class="rps-sesection__form__div">
                    <button class="rps-sesection__form__btn" type="button" value="stone">
                        <img class="rps-sesection__form__btn__img" src="img/rock-paper-scissors/stone.png" alt="Камінь">
                    </button>

                    <button class="rps-sesection__form__btn" type="button" value="scissors">
                        <img class="rps-sesection__form__btn__img" src="img/rock-paper-scissors/scissors.png" alt="Ножиці">
                    </button>

                    <button class="rps-sesection__form__btn" type="button" value="paper">
                        <img class="rps-sesection__form__btn__img" src="img/rock-paper-scissors/paper.png" alt="Папір">
                    </button>
                </div>

                <p class="rps-sesection__text rps-sesection__text-winner rps-sesection__text-loser rps-sesection__text-draw"
                    id="rps-text-result"></p>
                <img id="rps-form-pc-img" class="rps-sesection__form__img" src="img/rock-paper-scissors/pc.png" alt="Варіант комп’ютера">
            </form>
        </div>
        <div class="rps-sesection__div-score">
            <p class="rps-sesection__div-score__text">
                Рахунок:
                Комп’ютер - <span id="rps-score-pc">0</span>
                Ви - <span id="rps-score-user">0</span>
            </p>
        </div>

</section>