<div class="thanks-backdrop is-hidden" id="subscribeBackdrop">
    <div id="myModal2" class="thanks-window">
        <button type="button" id="closeModalBtn2" class="close__button">
            <img class="close__img" src="/img/svg/header/close.png" alt="cross">
        </button>
        <p class="modal2__text">Дякую за підписку!</p>

        <div class="icons">
            <img class="sword__icon2 icon" src="/img/svg/header/sword.png" alt="sword">
            <img class="puzzle__icon2 icon" src="/img/svg/header/puzzle.png" alt="puzzle">
            <img class="tic-tac-toe__icon2 icon" src="/img/svg/header/tic-tac-toe.png" alt="tic-tac-toe">
            <img class="game-development__icon2 icon" src="/img/svg/header/game-development.png" alt="game-development">
        </div>
    </div>
</div>