<section class="max__number" data-category="numerical">
    <div class="line"></div>
    <h2 class="max__title">Введіть 3 числа</h2>
    <div class="max__form__container">
    <form class="max__form" id="form-max">
        <input type="text" name="num1" placeholder="Введіть число" class="max__input" />
        <input type="text" name="num2" placeholder="Введіть число" class="max__input" />
        <input type="text" name="num3" placeholder="Введіть число" class="max__input" />
    </form>
    <p class="max__result">Найбільше число, яке ви ввели - <span id="max-result"></span></p>
    </div>
</section>
