<section class="time__calc" data-category="numerical">
    <div class="line"></div>
        <h2 class="time__calc__title">Калькулятор часу</h2>

        <div class="time__calc__form__container">
                <form class="time__calc__form">
                    <input type="text" class="time__calc__input" pattern="^[0-9]+$" id="secondsInput" placeholder="Введіть число" />
                    <button class="time__calc__btn" type="submit">
                        <img class="time__calc__btn__img" src="img/svg/header/deandruff.svg" alt="" />
                    </button>
                </form>

                
                    <div class="time__calc__dots"></div>
                    <div class="time__calc__output" id="output">0 дн. 00:00:00</div>
            </div>
</section>
