<div class="backdrop" id="welcomeBackdrop">
    <div class="welcome__window" id="myModal">
        <button type="button" id="welcomeCloseModalBtn" class="close__button">
            <img class="close__img" src="/img/svg/header/close.png" alt="cross">
        </button>
        <p class="welcome__form__text">
            Привіт! <br>
            Ви потрапили на сайт інтерактивних ігор та завдань. <br>
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
            Бажаємо Вам гарно провести час!
        </p>
        <form class="welcome__form">
            <label class="welcome__modal__label" for="username">Введіть своє ім’я:</label><br>
            <input class="welcome__modal__input" type="text" id="welcomeUsername" placeholder="Ваше ім’я..." autofocus autocomplete="off">
            <button type="submit" class="welcome__modal__save__btn" id="welcomeSaveBtn">Зберегти</button>
        </form>
        <div class="icons">
            <img class="sword__icon icon" src="/img/svg/header/sword.png" alt="sword">
            <img class="puzzle__icon icon" src="/img/svg/header/puzzle.png" alt="puzzle">
            <img class="tic-tac-toe__icon icon" src="/img/svg/header/tic-tac-toe.png" alt="tic-tac-toe">
            <img class="game-development__icon icon" src="/img/svg/header/game-development.png" alt="game-development">
        </div>
    </div>
</div>