.scientists__title {
  margin-bottom: 36px;
  color: var(--secondary-color);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.scientists__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 577px;
  height: 372px;
  gap: 36px 59px;
  margin: 0 auto;
  margin-bottom: 36px;
}


.scientist {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #42424284;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


.scientist::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


.scientists__card {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.scientists__text {
  position: absolute;
  bottom: 10%;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
}

.scientists__buttons {
  width: 1000px;
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.scientists__button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 16px;
  border-radius: 20px;
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-weight: 400;
}