.header {
  padding: 21px 0;
  font-size: 12px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.header__link-logo {
  margin-right: 80px;
}

.header__link-logo__icon {
  width: 93px;
  height: 38px;
  fill: var(--secondary-color);
}

.header__nav {
  margin-right: 363px;
}

.header__nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__nav__item {
  text-align: center;
}

.header__nav__item__link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--secondary-color);
}

.header__nav__item__link__icon {
  width: 12px;
  height: 16px;
  fill: var(--secondary-color);
  transition: all 350ms linear;
}

.header__nav__item:first-child {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav__item:first-child:hover .header__nav__item__submenu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header__nav__item:first-child:hover .header__nav__item__link__icon {
  transform: rotate(180deg);
}

.header__nav__item__submenu {
  position: absolute;
  top: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 350ms linear;
  border-left: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  border-radius: 0 0 5px 5px;
}

.header__nav__item__submenu__item {
  padding: 10px 40px;
}

.header__nav__item__submenu__item:hover {
  background-color: #f1f1f1;
  color: var(--secondary-color);
  cursor: pointer;
}

.header__switch-icon {
  margin-right: 50px;
  cursor: pointer;
}


.header__nav__item__submenu {
    z-index: 999;
    position: absolute;
    top: 100%;
    overflow: hidden;
    /* opacity: 0; */
    visibility: hidden;
    pointer-events: none;
    transition: opacity 350ms linear;
    border-left: 1px solid var(--secondary-color) ;
    border-right: 1px solid var(--secondary-color) ;
    border-bottom: 1px solid var(--secondary-color) ;
    border-radius: 0 0 5px 5px;
}

.header__text__user-name {
}


.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--primary-color);
  border-radius: 20px;
  padding: 30px;
  margin: 214px auto;
  text-align: center;
  position: relative;
  width: 576px;
  height: 316px;
}


.header__nav__item__submenu__item {
    background-color: var(--primary-color);
    padding: 10px 40px;

}

.header__nav__item__submenu__item:hover {
  background-color: #f1f1f1;
  color: var(--secondary-color);
  cursor: pointer;
}


.modal__content2 {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--primary-color);
  border-radius: 20px;
  margin: 214px auto;
  text-align: center;
  position: relative;
  width: 463px;
  height: 245px;
}

.header__modal2__text {
  color: var(--secondary-color);
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
}

.sword__icon2 {
  position: relative;
  bottom: 70px;
  left: -45px;
}

.puzzle__icon2 {
  position: relative;
  bottom: -10px;
  left: -90px;
}

.tic-tac-toe__icon2 {
  position: relative;
  bottom: -10px;
  right: -90px;
}

.game-development__icon2 {
  position: relative;
  bottom: 70px;
  right: -45px;
}
