.leap__year {
}

.year__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 36px;
}
.leap__year__form__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 575px;
  margin: 0 auto;
}
.leapyear__form {
  display: flex;
  width: 215px;
  height: 35px;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
}

.leap__year__input {
  padding-left: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  background: #d7d7d7;
  width: 100%;
  height: 100%;
  
}

.leap__year__input::placeholder {
  color: #7e7e7e;
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-weight: 400;
}
.leap__year__btn {
  padding: 10px;
  border-radius: 0 20px 20px 0;
  background-color: #000;
}
.leap__year__img {
  width: 15px;
  height: 15px;
}
.leap__year__result {
  text-align: right;
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-weight: 400;
}


