.rps-sesection {
    color: var(--secondary-color);
    position: relative;
}


.rps-sesection__div-game {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}


.rps-sesection__title {
    color: var(--secondary-color);
    font-size: 16px;
    margin-bottom: 36px;
}


.rps-sesection__form {
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: center;
}


.rps-sesection__form__div{
    display: flex;
    gap: 36px;
}


.rps-sesection__form__btn {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 20px;
    background: #000;
    border: 1px solid var(--secondary-color);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}


.rps-sesection__form__btn:hover{
    box-shadow:none;
    transform: scale(1.2);
}


.rps-sesection__form__img{
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 20px;
    background: #000;
    border: 1px solid var(--secondary-color);
}



.rps-sesection__text {
    color: var(--secondary-color);
    font-size: 12px;
}

.rps-sesection__text-winner {
    color: #039900;
}

.rps-sesection__text-loser {
    
    color: #900;
}

.rps-sesection__text-draw {
    color: rgb(255, 255, 0);
}



.rps-sesection__btn {
    color: var(--primary-color);
font-size: 12px;
border-radius: 20px;
background: #000;
padding: 10px 20px;
}


.rps-sesection__div-score {
    position: absolute;
    right: 220px;
    bottom: 158px;
    width: 100px;
    height: 60px;
}


.rps-sesection__div-score__text {
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 170%;
}