.max__number {
  padding-bottom: 36px;
}

.max__form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.max__title {
  text-align: center;
  color: var(--secondary-color);
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 36px;
}

.max__form {
  display: flex;
  align-items: center;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
  gap: 38px;
  margin-bottom: 36px;
}

.max__input {
  width: 135px;
  height: 35px;
  padding: 10px 20px;
  border-radius: 20px;
  background: #d7d7d7;
}

.max__input::placeholder {
color: #7E7E7E;
font-family: "Montserrat Alternates";
font-size: 12px;
font-weight: 400;
}

.max__result {
  text-align: center;
  font-family: 'Montserrat Alternates';
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary-color);
}
