<header class="header">
  <div class="content">
    <h1 class="title">Karawaqqetryto</h1>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="">about me</a>
        </li>
        <li class="header__item"><a class="header__link" href="">clips</a></li>
        <li class="header__item"><a class="header__link" href="https://steamcommunity.com/profiles/76561199211676349/friends/">steam</a></li>
        <li class="header__item"><a class="header__link" href="#" id="team-btn">team</a></li>
      </ul>
    </nav>
    <nav class="header__nav">
      <ul class="header__contact__list">
        <li class="header__contact__item">
          <a class="header__contact__link" href="">dis: zarydal</a>
        </li>
        <li class="header__contact__item">
          <a class="header__contact__link" href="#">steam: 1251410621</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
