<section class="hero">
  <div class="hero__content">
    <h2 class="hero__title">About me</h2>
  </div>
  <div class="cards-container">
    <div class="card">
      <div class="card-inner">
        <div class="card-front" style="background-image: url('../img/kartochkaa.png')">
          <div class="card-text">school</div>
        </div>
        <div class="card-back">
          <p>TEB education - game design (first year)</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-inner">
        <div class="card-front" style="background-image: url('../img/kartochkaa.png')">
          <div class="card-text">courses</div>
        </div>
        <div class="card-back">
          <p>Html / Css / Sass / Java Script /  React JSX / = start third year </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-inner">
        <div class="card-front" style="background-image: url('../img/kartochkaa.png')">
          <div class="card-text">dota 2</div>
        </div>
        <div class="card-back">
          <p>3500 hours, main hero - "Shadow Fiend" "Arc Warden" "Ivoker" "Void Spirit", max 3100 mmr </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-inner">
        <div class="card-front" style="background-image: url('../img/kartochkaa.png')">
          <div class="card-text">projects</div>
        </div>
        <div class="card-back">
          <p>WebStudio, Nike, IceCream, Interactive Games, Karawaqqetryto</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-inner">
        <div class="card-front" style="background-image: url('../img/kartochkaa.png')">
          <div class="card-text">MEFEDRON TEAM</div>
        </div>
        <div class="card-back">
          <p>The strongest squad in the world, participants - smert w nishite / Batrak Adolf Gitler
            / Makan Master Koleidoskopa / Fridrih Nishij</p>
            <button class="hero__button">team</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="div__img__hero"> -->
  </div>
</section>