<div class="backdrop" id="welcomeBackdrop">
  <div class="team__window" id="myModal">
    <button type="button" id="welcomeCloseModalBtn" class="close__button">
      <img class="modal__svg" src="../img/krest_Nero_AI_Image_Upscaler_Photo_Face-removebg-preview.png" alt="#">
    </button>

    <div class="team__member">
  <div class="avatar__modal__wrapper">
    <img src="../img/moredava.png" class="modal__frame" alt="frame">
    <img src="../img/rn_image_picker_lib_temp_b60707f0-16fb-4131-a5cf-2b6f97374386-photoaidcom-darken.jpg" class="avatar" alt="avatar">
  </div>
  <p class="first__text">BatrakAdolfGitler - bigmef ake zhirnaja panda</p>
</div>

<div class="team__member">
  <div class="avatar__modal__wrapper">
    <img src="../img/moredava.png" class="modal__frame" alt="frame">
    <img src="../img/2025-07-22 012215.png" class="avatar" alt="avatar">
  </div>
  <p class="first__text">Maksonchik - bigmef ake razrywnoj petushok</p>
</div>

<div class="team__member">
  <div class="avatar__modal__wrapper">
    <img src="../img/moredava.png" class="modal__frame" alt="frame">
    <img src="../img/nikikiki.png" class="avatar" alt="avatar">
  </div>
  <p class="first__text">Negrita - mefic ake rahal mamut</p>
</div>
  </div>
</div>